.navbar-container{
    height: 60px;
    display: flex;
    align-items: center;
}
.heading{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo{
    height: 45px;
    width: 45px;
    margin-left: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}